{{#each posts as |post|}}
<a class="btn m-3 postBox d-flex flex-row justify-content-between align-items-center rounded shadow" href="/posts/{{post.id}}">
    <h1 class="text-light p-2 mx-3 btn">{{post.title}}</h1>
    <p class="text-light p-2 my-0 mx-3">{{formatDate post.createdAt}}</p>
</a>
{{/each}}

<form class="container d-none" id="newPostForm">
    <div class="form-group">
        <label for="addNewPostTitle">Post Title</label>
        <textarea class="form-control mb-2" id="newPostTitle" rows="1"></textarea>
        <label for="addNewPostContent">Write your post here</label>
        <textarea class="form-control mb-2" id="newPostContent" rows="3"></textarea>
        <button type="submit" class="btn text-light" style="background-color: darkslategray;">Submit</button>
    </div>
</form>

<button class="btn text-light mt-2" id="newPostBtn" style="background-color: darkslategray;">Create a post</button>

<script src="/js/post.js"></script>